@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Euclid Circular A";
		font-weight: 300;
		src: url("../font/EuclidCircularA-Light.ttf");
	}
	@font-face {
		font-family: "Euclid Circular A";
		font-weight: 400;
		src: url("../font/EuclidCircularA-Regular.ttf");
	}
	@font-face {
		font-family: "Euclid Circular A";
		font-weight: 500;
		src: url("../font/EuclidCircularA-Medium.ttf");
	}
	@font-face {
		font-family: "Euclid Circular A";
		font-weight: 600;
		src: url("../font/EuclidCircularA-SemiBold.ttf");
	}
	@font-face {
		font-family: "Euclid Circular A";
		font-weight: 700;
		src: url("../font/EuclidCircularA-Bold.ttf");
	}
}

@layer components {
	h1 {
		@apply font-semibold text-4xl;
	}
	h2 {
		@apply font-semibold text-2xl text-grey-dark;
	}
	h3 {
		@apply font-semibold text-xl;
	}
	p {
		@apply text-grey-dark text-sm;
	}
}
